---
import CodingProjectCardComponent from '../components/CodingProjectCardComponent.astro';
import HeaderComponent from '../components/HeaderComponent.astro';
import Layout from '../layouts/Layout.astro';
import { getAllCodingProjects } from '../utils/getProjects';
import {images} from '../utils/images';

const projects = getAllCodingProjects();
---

<Layout title="Moritz Jung">
	<div class="landing-page">
		<HeaderComponent route={[]}></HeaderComponent>
		<div class="lp-content">
			<h1 class="heading text-effect">Moritz Jung</h1>
			<span class="sub-heading text-effect text-effect-muted text-secondary">Software, Art and TTRPG Content</span>
		</div>
		<div class="lp-scroll" onclick="scrollToContent()">
			Check out my work
		</div>
	</div>

	<div class="content-container" id="content-container">
		<div class="content">
			<h1>About Me</h1>
			<p>
				Hi, my name Moritz Jung.
				I am from Germany and I am currently studying computer science.				
			</p>
		</div>

		<div class="content">
			<h1>My Coding Projects</h1>
			<p>
				This is a list of my featured project. You can find a list of all my projects <a href="/coding-projects" aria-label="see all coding projects">here</a>.
				Also feel free to take a look at <a href="https://github.com/mProjectsCode">my GitHub account</a>.
			</p>
			<div class="card-grid">
				{projects.map(project =>
					<CodingProjectCardComponent project={project}></CodingProjectCardComponent>
				)}
			</div>
			<p style="text-align: right;">
				<a href="/coding-projects" class="button" aria-label="see all coding projects">see more</a>
			</p>
		</div>

		<div class="content">
			<h1>My Art</h1>
			<p>
				Here you can see some of my artwork. <br/> 
				Tools I use include: <a href="https:\\www.blender.org">Blender</a>, <a href="https://www.gimp.org/">GIMP</a> and my own Fractal Rendering Engine.
			</p>

			<div class="image-grid">
				{images.map((item) => (
					<div class="image-grid-item">
						<img src={item.src} alt={item.title}></img>
						<div class="image-grid-item-overlay" onmouseenter="textEffect(this)" onmouseleave="textEffectInverted(this)">
							<div class="image-grid-item-overlay-text">
								<h4 class="text-effect text-effect-inverted">{item.title}</h4>
								<span class="text-effect text-effect-inverted text-effect-muted text-secondary">{item.subtitle}</span>
							</div>
						</div>
					</div>
				))}
			</div>
		</div>
	</div>
</Layout>

